backoff==2.2.1
InquirerPy==0.3.4
lxml==4.9.3
openai==0.28.1
playwright==1.40.0
aiortc==1.8.0
PyAudio==0.2.14
RealTimeSTT==0.1.13
aiohttp
opencv-python
jsonlines
numpy
sentence_transformers
torch
protobuf
BeautifulSoup4
toml
aioconsole